/ZAP2Backend_JAVA/ZAP2INFRAESTRUCTURAModel/nbproject/private/
/ZAP2Backend_JAVA/ZAP2INFRAESTRUCTURAController/nbproject/private/
/ZAP2Backend_JAVA/ZAP2DBManager/nbproject/private/
/ZAP2Backend_JAVA/ZAP2DBManager/dist/
/ZAP2Backend_JAVA/ZAP2DBManager/build/
/ZAP2Backend_JAVA/ZAP2WS/nbproject/private/
/ZAP2Backend_JAVA/ZAP2PROG/nbproject/private/
/ZAP2Backend_JAVA/ZAP2WS/build/
/ZAP2Backend_JAVA/ZAP2WS/dist/
/ZAP2Backend_JAVA/ZAP2PROG/dist/
/ZAP2Backend_JAVA/ZAP2PROG/build/

# Compiled class file
*.class

# C# files
*.suo
[Dd]ebug/
[Rr]elease/
.vs/

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

!/ZAP2Backend_JAVA/ZAP2PROG/src/pe/edu/pucp/ZAP2/program/lib/mysql-connector-j-8.3.0.jar
!/ZAP2Backend_JAVA/ZAP2WS/src/java/pe/edu/pucp/ZAP2/lib/mysql-connector-j-8.3.0.jar
!/ZAP2Backend_JAVA/ZAP2WS/src/java/pe/edu/pucp/ZAP2/lib/jakarta.xml.ws-api-4.0.1.jar
!/ZAP2Backend_JAVA/jakarta.xml.bind-api-4.0.2.jar
/ZAP2Backend_JAVA/ZAP2WS/build/
/ZAP2Backend_JAVA/ZAP2WS/dist/
/ZAP2Backend_JAVA/ZAP2INFRAESTRUCTURAModel/src/pe/edu/pucp/ZAP2/infraestructura/lib/
/ZAP2Backend_JAVA/ZAP2WS/src/java/pe/edu/pucp/ZAP2/lib/
