<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ReportProductosMasConsumidos</servlet-name>
        <servlet-class>pe.edu.pucp.ZAP2.servlet.ReportProductosMasConsumidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteBoletaVenta</servlet-name>
        <servlet-class>pe.edu.pucp.ZAP2.servlet.ReporteBoletaVenta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportProductosMasConsumidos</servlet-name>
        <url-pattern>/ReportProductosMasConsumidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteBoletaVenta</servlet-name>
        <url-pattern>/ReporteBoletaVenta</url-pattern>
    </servlet-mapping>
</web-app>
