<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.8.1" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EmpleadoDeAreaWSPortBinding" />
        <binding name="PersonaJuridicaWSPortBinding" />
        <binding name="Boleta_VentaWSPortBinding" />
        <binding name="TarjetaWSPortBinding" />
        <binding name="MonedaWSPortBinding" />
        <binding name="ProductosParaElCuidadoPersonalYDelHogarWSPortBinding" />
        <binding name="LineaDocWSPortBinding" />
        <binding name="Detalle_PedidoWSPortBinding" />
        <binding name="SupervisorWSPortBinding" />
        <binding name="Documento_de_CompraWSPortBinding" />
        <binding name="AlmacenWSPortBinding" />
        <binding name="BancoWSPortBinding" />
        <binding name="LoteWSPortBinding" />
        <binding name="Factura_VentaWSPortBinding" />
        <binding name="MovimientoLoteWSPortBinding" />
        <binding name="AreaWSPortBinding" />
        <binding name="ElectrodomesticosWSPortBinding" />
        <binding name="ClienteWSPortBinding" />
        <binding name="SucursalWSPortBinding" />
        <binding name="PedidoWSPortBinding" />
        <binding name="CajeroWSPortBinding" />
        <binding name="CuentaUsuarioWSPortBinding" />
        <binding name="RopaWSPortBinding" />
        <binding name="ProductoPerecibleWSPortBinding" />
        <binding name="ProductoPrecioWSPortBinding" />
        <binding name="ProductoWSPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/ZAP2WS/EmpleadoDeAreaWS"
        binding="basicHttpBinding" bindingConfiguration="EmpleadoDeAreaWSPortBinding"
        contract="ServicioWS.EmpleadoDeAreaWS" name="EmpleadoDeAreaWSPort" />
      <endpoint address="http://localhost:8080/ZAP2WS/PersonaJuridicaWS"
        binding="basicHttpBinding" bindingConfiguration="PersonaJuridicaWSPortBinding"
        contract="ServicioWS.PersonaJuridicaWS" name="PersonaJuridicaWSPort" />
      <endpoint address="http://localhost:8080/ZAP2WS/Boleta_VentaWS"
        binding="basicHttpBinding" bindingConfiguration="Boleta_VentaWSPortBinding"
        contract="ServicioWS.Boleta_VentaWS" name="Boleta_VentaWSPort" />
      <endpoint address="http://localhost:8080/ZAP2WS/TarjetaWS" binding="basicHttpBinding"
        bindingConfiguration="TarjetaWSPortBinding" contract="ServicioWS.TarjetaWS"
        name="TarjetaWSPort" />
      <endpoint address="http://localhost:8080/ZAP2WS/MonedaWS" binding="basicHttpBinding"
        bindingConfiguration="MonedaWSPortBinding" contract="ServicioWS.MonedaWS"
        name="MonedaWSPort" />
      <endpoint address="http://localhost:8080/ZAP2WS/ProductosParaElCuidadoPersonalYDelHogarWS"
        binding="basicHttpBinding" bindingConfiguration="ProductosParaElCuidadoPersonalYDelHogarWSPortBinding"
        contract="ServicioWS.ProductosParaElCuidadoPersonalYDelHogarWS"
        name="ProductosParaElCuidadoPersonalYDelHogarWSPort" />
      <endpoint address="http://localhost:8080/ZAP2WS/LineaDocWS" binding="basicHttpBinding"
        bindingConfiguration="LineaDocWSPortBinding" contract="ServicioWS.LineaDocWS"
        name="LineaDocWSPort" />
      <endpoint address="http://localhost:8080/ZAP2WS/Detalle_PedidoWS"
        binding="basicHttpBinding" bindingConfiguration="Detalle_PedidoWSPortBinding"
        contract="ServicioWS.Detalle_PedidoWS" name="Detalle_PedidoWSPort" />
      <endpoint address="http://localhost:8080/ZAP2WS/SupervisorWS"
        binding="basicHttpBinding" bindingConfiguration="SupervisorWSPortBinding"
        contract="ServicioWS.SupervisorWS" name="SupervisorWSPort" />
      <endpoint address="http://localhost:8080/ZAP2WS/Documento_de_CompraWS"
        binding="basicHttpBinding" bindingConfiguration="Documento_de_CompraWSPortBinding"
        contract="ServicioWS.Documento_de_CompraWS" name="Documento_de_CompraWSPort" />
      <endpoint address="http://localhost:8080/ZAP2WS/AlmacenWS" binding="basicHttpBinding"
        bindingConfiguration="AlmacenWSPortBinding" contract="ServicioWS.AlmacenWS"
        name="AlmacenWSPort" />
      <endpoint address="http://localhost:8080/ZAP2WS/BancoWS" binding="basicHttpBinding"
        bindingConfiguration="BancoWSPortBinding" contract="ServicioWS.BancoWS"
        name="BancoWSPort" />
      <endpoint address="http://localhost:8080/ZAP2WS/LoteWS" binding="basicHttpBinding"
        bindingConfiguration="LoteWSPortBinding" contract="ServicioWS.LoteWS"
        name="LoteWSPort" />
      <endpoint address="http://localhost:8080/ZAP2WS/Factura_VentaWS"
        binding="basicHttpBinding" bindingConfiguration="Factura_VentaWSPortBinding"
        contract="ServicioWS.Factura_VentaWS" name="Factura_VentaWSPort" />
      <endpoint address="http://localhost:8080/ZAP2WS/MovimientoLoteWS"
        binding="basicHttpBinding" bindingConfiguration="MovimientoLoteWSPortBinding"
        contract="ServicioWS.MovimientoLoteWS" name="MovimientoLoteWSPort" />
      <endpoint address="http://localhost:8080/ZAP2WS/AreaWS" binding="basicHttpBinding"
        bindingConfiguration="AreaWSPortBinding" contract="ServicioWS.AreaWS"
        name="AreaWSPort" />
      <endpoint address="http://localhost:8080/ZAP2WS/ElectrodomesticosWS"
        binding="basicHttpBinding" bindingConfiguration="ElectrodomesticosWSPortBinding"
        contract="ServicioWS.ElectrodomesticosWS" name="ElectrodomesticosWSPort" />
      <endpoint address="http://localhost:8080/ZAP2WS/ProductoWS" binding="basicHttpBinding"
        bindingConfiguration="ProductoWSPortBinding" contract="ServicioWS.ProductoWS"
        name="ProductoWSPort" />
      <endpoint address="http://localhost:8080/ZAP2WS/ClienteWS" binding="basicHttpBinding"
        bindingConfiguration="ClienteWSPortBinding" contract="ServicioWS.ClienteWS"
        name="ClienteWSPort" />
      <endpoint address="http://localhost:8080/ZAP2WS/SucursalWS" binding="basicHttpBinding"
        bindingConfiguration="SucursalWSPortBinding" contract="ServicioWS.SucursalWS"
        name="SucursalWSPort" />
      <endpoint address="http://localhost:8080/ZAP2WS/PedidoWS" binding="basicHttpBinding"
        bindingConfiguration="PedidoWSPortBinding" contract="ServicioWS.PedidoWS"
        name="PedidoWSPort" />
      <endpoint address="http://localhost:8080/ZAP2WS/CajeroWS" binding="basicHttpBinding"
        bindingConfiguration="CajeroWSPortBinding" contract="ServicioWS.CajeroWS"
        name="CajeroWSPort" />
      <endpoint address="http://localhost:8080/ZAP2WS/CuentaUsuarioWS"
        binding="basicHttpBinding" bindingConfiguration="CuentaUsuarioWSPortBinding"
        contract="ServicioWS.CuentaUsuarioWS" name="CuentaUsuarioWSPort" />
      <endpoint address="http://localhost:8080/ZAP2WS/RopaWS" binding="basicHttpBinding"
        bindingConfiguration="RopaWSPortBinding" contract="ServicioWS.RopaWS"
        name="RopaWSPort" />
      <endpoint address="http://localhost:8080/ZAP2WS/ProductoPerecibleWS"
        binding="basicHttpBinding" bindingConfiguration="ProductoPerecibleWSPortBinding"
        contract="ServicioWS.ProductoPerecibleWS" name="ProductoPerecibleWSPort" />
      <endpoint address="http://localhost:8080/ZAP2WS/ProductoPrecioWS"
        binding="basicHttpBinding" bindingConfiguration="ProductoPrecioWSPortBinding"
        contract="ServicioWS.ProductoPrecioWS" name="ProductoPrecioWSPort" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
    </handlers>
  </system.webServer>
</configuration>